<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="../lib/js/react.js"></script>
    <script src="../lib/js/react-dom.js"></script>
    <script src="../lib/js/browser.min.js"></script>
    <script src="../lib/js/marked.min.js"></script>
    <script src="../lib/js/jquery.min.js"></script>
    <script src="../lib/js/JSXTransformer.js"></script>


    <script type="text/jsx" src="../lib/js/component/commentForm.jsx"></script>
    <script type="text/jsx" src="../lib/js/component/commentList.jsx"></script>
    <script type="text/jsx" src="../lib/js/component/comment.jsx"></script>




</head>
<body>
<div id="content"></div>
<script type="text/jsx" src="../lib/js/component/commentBox.jsx"></script>


</body>
</html>